---
import Title from "../ui/Title.astro"
import Container from "../ui/Container.astro"
import ProjectCard from "./ProjectCard.astro"

import projects from "../../mocks/projects"
---

<Container id="projects" reveal>
  <Title>Proyectos</Title>

  <ul>
    {
      projects.map((project) => (
        <li class="mb-12">
          <ProjectCard project={project} />
        </li>
      ))
    }
  </ul>
</Container>
