---
interface Props {
  url: string
  description: string
  name: string
  languages: {
    nodes: Node[]
  }
}

interface Node {
  name: string
  color: string
}

const { url, description, name, languages } = Astro.props
import Github from "../icons/GithubRounded.astro"
---

<div
  class="repo-item rounded shadow-lg cursor-pointer duration-200 hover:-translate-y-2"
>
  <h2 class="text-2xl font-extrabold max-w-[15ch] text-slate-300">{name}</h2>
  <p>{description}</p>
  <ul>
    {
      languages.nodes.map((language) => (
        <li>
          <p>{language.name}</p>
        </li>
      ))
    }
  </ul>
  <div class="flex items-center gap-2 absolute top-4 right-4">
    <a class="text-slate-400 hover:text-emerald-300" href={url}>
      <Github width={24} height={24} />
    </a>
  </div>
</div>
<style>
  .repo-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    background-color: var(--light-navy);
    overflow: auto;
    color: var(--lightest-slate);
  }
</style>
