---
---

<div
  class="bg-slate-900 bg-opacity-50 backdrop-blur-lg grid p-2 rounded-xl w-full divide-y-[1px] divide-zinc-600 gap-2"
>
  <div class="flex justify-between items-center">
    <div class="flex gap-1">
      <div
        class="p-1.5 rounded-full bg-zinc-600 hover:bg-red-400 transition-colors"
      >
      </div>
      <div
        class="p-1.5 rounded-full bg-zinc-600 hover:bg-amber-400 transition-colors"
      >
      </div>
      <div
        class="p-1.5 rounded-full bg-zinc-600 hover:bg-green-400 transition-colors"
      >
      </div>
    </div>
    <span class="text-zinc-400 text-sm">/index.js</span>
    <svg
      stroke="currentColor"
      fill="#52525b"
      stroke-width={0}
      viewBox="0 0 24 24"
      class="cursor-pointer"
      id="clipboard"
      height="1em"
      width="1em"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill="none" d="M0 0h24v24H0z"></path>
      <path
        d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"
      ></path>
    </svg>
  </div>
  <code id="code">
    <pre
      class="inline-table">
      <span class="text-blue-400">const welcome = <span class="text-yellow-100"> () </span> =&gt; <span class="text-yellow-100">{"{"}</span><br/>  const aboutMe ={" "}<span class="text-yellow-100">{"{"}</span>
      fullname:  <span class="text-yellow-100">'Stivens Carrasquel'</span>,
      age:  <span class="text-sky-300">24</span>,
      languages: <span class="text-yellow-100">[]</span><br/><span class="text-yellow-100">{'  }'}</span>
      <br />{"  "}return aboutMe<br /><span class="text-yellow-100">{"}"}</span>
      </span>
      <br />welcome<span class="text-yellow-100">()</span>
    </pre>
  </code>
</div>
<script>
  const info = {
    name: 'Stivens Carrasquel',
    age: '24',
    description : 'Software Developer',
    contact: {
      email: 'stevensgoldzyzz@gmail.com',
      phone: '+584242098193'
    }
  } 

  
  const clipboardButton = document.querySelector("#clipboard")

  const copyClipboard = navigator.clipboard.writeText(JSON.stringify(info))

  clipboardButton.addEventListener("click", copyClipboard())
</script>
