---
import Container from "../ui/Container.astro"
import Title from "../ui/Title.astro"
import ExperiencesCard from "./ExperiencesCard.astro"

const experiences = [
  {
    stack: [
      "TypeScript",
      "React.js",
      "JQuery",
      "Material UI",
      "Redux",
      "React Native",
      "Styled Components",
      "CSS Modules",
      "SCSS",
    ],
    description:
      "Desarrollo de aplicaciones web integrando APIs propias y de terceros para garantizar la conectividad fluida con diversas fuentes de datos. Todo esto se ha logrado migrando de jQuery a React, utilizando Material UI para garantizar la integridad visual de la aplicación y Firebase para consumo de servicios en tiempo real.",
    title: "Frontend developer",
    company: "Cesa MS",
    location: "Montevideo, Uruguay",
    range: "06/2022 - Actualmente",
    url: "https://www.linkedin.com/company/cesa-management-solutions/mycompany",
  },
  {
    stack: [
      "React.js",
      "Redux",
      "Javascript",
      "CSS Modules",
      "SCSS",
      "Web3.js",
    ],
    description:
      "Desarrollo de aplicaciones web y landing pages orientados al ecosistema web3. Implementando servicios de integración de wallets para la gestión segura de activos digitales, consumo de APIs propias y de terceros para integración de datos y servicios externos.",
    title: "Frontend developer",
    company: "Korvuss",
    location: "Medellin, Colombia",
    range: "01/2021 - 06/2022",
    url: "https://co.linkedin.com/company/korvuss",
  },
  {
    stack: ["JavaScript", "Node.js", "Bootstrap", "Redux", "MongoDB"],
    description:
      "Desarrollé interfaces de usuario atractivas y servidores seguros en colaboración cercana con los clientes para asegurar que se alinearan con sus objetivos.",
    title: "Desarrollador Freelance",
    company: "Freelance",
    location: "Caracas, Venezuela",
    range: "07/2020 - 01/2021",
    url: "/",
  },
  {
    stack: ["SAP", "SQL", "Excel"],
    description:
      "Gestión y análisis de bases de datos y la documentación de los procesos correspondientes.",
    title: "Analista TI",
    company: "Empresas Polar",
    location: "Caracas, Venezuela",
    range: "01/2018 - 05/2019",
    url: "https://www.linkedin.com/company/empresas-polar",
  },
]
---

<Container id="experiences">
  <Title>Experiencia</Title>

  <ul>
    {
      experiences.map((experience) => {
        return (
          <li class="mb-12">
            <ExperiencesCard experience={experience} />
          </li>
        )
      })
    }
  </ul>
</Container>
