---
import Container from "../ui/Container.astro"
import Title from "../ui/Title.astro"
import Text from "../ui/Text.astro"
---

<Container id="about">
  <Title>About Me</Title>

  <Text>
    Soy un desarrollador web apasionado por la creación de experiencias de
    usuario excepcionales. Me apasiona maquetar páginas web y convertir diseños
    en experiencias de usuario intuitivas, atractivas y funcionales que
    satisfagan las necesidades del usuario.
  </Text>
  <Text>
    Como desarrollador, me esfuerzo por crear soluciones tecnológicas
    innovadoras que cumplan con los requerimientos del cliente y brinden una
    experiencia del usuario sobresaliente
  </Text>
  <Text>
    Siempre ansío asumir nuevos desafíos y enfrentarlos con la misma pasión que
    ha definido mi carrera hasta ahora. Estoy listo para seguir contribuyendo al
    avance continuo en el panorama del desarrollo web, brindando resultados
    excepcionales y consolidando mi compromiso con la excelencia en cada
    proyecto que abordo.
  </Text>
</Container>
