---
import GithubRounded from "../icons/GithubRounded.astro"
import LinkedIn from "../icons/LinkedIn.astro"
import Mail from "../icons/Mail.astro"

const rrss = [
  {
    name: "GitHub",
    href: "https://github.com/stevensmain",
    icon: GithubRounded,
  },
  {
    name: "LinkedIn",
    href: "https://github.com/stevensmain",
    icon: LinkedIn,
  },
  {
    name: "Mail",
    href: "mailto:stevensgoldzyzz@gmail.com",
    icon: Mail,
  },
]

const sections = [
  {
    label: "Acerca de mi",
    id: "about",
  },
  {
    label: "Experiencias",
    id: "experiences",
  },
  {
    label: "Proyectos",
    id: "projects",
  },
  {
    label: "Contacto",
    id: "contact",
  },
]
---

<header
  class="lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
  id="hero"
>
  <div>
    <h2 class="text-4xl font-bold tracking-tight text-slate-200 sm:text-5xl">
      Stevens Carrasquel
    </h2>
    <h3
      class="mt-3 text-lg font-medium tracking-tight text-slate-200 sm:text-xl"
    >
      Desarrollador Full-Stack
    </h3>
    <p class="mt-4 max-w-md leading-normal">
      Soy un desarrollador orientado a la resolución de problemas con una pasión
      por los desafíos, buscando activamente oportunidades en la industria de la
      tecnología.
    </p>

    <nav class="nav hidden lg:block">
      <ul class="mt-8 w-max">
        {
          sections.map(({ id, label }) => (
            <li>
              <a class="group flex items-center py-3 active" href={`#${id}`}>
                <span class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200 motion-reduce:transition-none" />

                <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">
                  {label}
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <ul class="ml-1 mt-8 flex items-center">
    {
      rrss.map(({ name, href, icon: Icon }) => (
        <li class="mr-5 text-xs">
          <a
            class="block hover:text-slate-200"
            href={href}
            target="_blank"
            rel="noreferrer"
          >
            <span class="sr-only">{name}</span>
            <Icon />
          </a>
        </li>
      ))
    }
  </ul>
</header>
