---
import Layout from "../layouts/Layout.astro"
import About from "../components/about/About.astro"
import Footer from "../components/footer/Footer.astro"
import Projects from "../components/projects/Projects.astro"
import Experiences from "../components/experiences/Experiences.astro"
---

<Layout title="Welcome to Astro.">
  <main class="pt-24 lg:w-1/2">
    <About />
    <Experiences />
    <Projects />
    <Footer />
  </main>
</Layout>

<style is:global>
  main {
    margin: auto;
    scroll-bar: none;
  }
  .sideline::after {
    content: "";
    background-color: slategray;
    display: block;
    position: relative;
    height: 100px;
    margin: 10px auto 0;
    width: 1px;
    transition: 200ms;
  }
  .sideline:hover::after {
    transform: scaleY(1.1);
  }
</style>
