---
import Container from "../ui/Container.astro"
import Title from "../ui/Title.astro"
---

<Container id="contact" reveal>
  <div class="flex flex-col gap-5 text-center max-w-xl mx-auto">
    <Title>What’s Next?</Title>
    <h2 class="text-slate-300 text-5xl font-extrabold lg:text-6xl">
      Get In Touch
    </h2>
    <p class="text-base text-slate-400">
      My inbox is always open. Whether you have a question or just want to say
      hi, I’ll try my best to get back to you!
    </p>
    <a
      href="mailto:stevensgoldzyzz@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <button
        class="text-slate-400 border-slate-400 border px-8 py-4 rounded duration-200 hover:bg-neutral-800"
      >
        Mail me
      </button>
    </a>
  </div>
</Container>
