---
import RevealContainer from "./RevealContainer.jsx"
import Text from "./ui/Text"
import Title from "./ui/Title"

const skills = [
  "JavaScript (ES6+)",
  "TypeScript",
  "React",
  "Next",
  "Express",
  "Tailwind",
]
---

<RevealContainer id="about" client:only>
  <Title prevMark="01.">About Me</Title>
  <div class="flex items-center gap-10 flex-col lg:flex-row">
    <div class="flex flex-col gap-3 lg:w-6/12">
      <Text>
        Hello, my name is Stivens Carrasquel. I'm a goal-oriented web developer
        motivated to demonstrate my abilities by providing important
        contributions to a team project. Experienced in React, NextJS, Node.js
        (Express and Nest), and database management.
      </Text>
      <p class="text-base text-slate-400">
        Particularly dedicated to the development of RRSS apps, and management
        apps.
      </p>
      <p class="text-base text-slate-400">
        Here are a few technologies I’ve been working with recently:
      </p>

      <ul class="flex flex-wrap gap-y-3">
        {skills && skills.map((skill, i) => <li class="w-6/12">{skill}</li>)}
      </ul>
    </div>

    <div class="h-full grid place-items-center lg:w-6/12">
      <div class="w-8/12 h-8/12 relative group rounded-sm ease duration-200">
        <img src="/img/steve.jpg" alt="Profile picture" class="w-full h-full" />
        <div
          class="w-full h-full z-5 absolute top-4 left-4 -z-10 border-2 border-white rounded-sm ease duration-200 group-hover:top-2 group-hover:left-2"
        >
        </div>
        <div
          class="w-full h-full z-10 img-profile absolute top-0 bg-opacity-60 ease duration-200"
        >
        </div>
      </div>
    </div>
  </div>
</RevealContainer>

<style>
  .img-profile {
    background-color: rgba(10, 25, 47, 0.55);
  }
  .img-profile:hover {
    background-color: rgba(10, 25, 47, 0);
  }
</style>
