---
---

<footer class="flex justify-center items-center pb-8">
    <a href="https://github.com/stevensmain" target="_blank" rel="noreferrer">
        Developed by Stivens Carrasquel
    </a>
</footer>
