---
import Code from "./sections/hero/Code.astro"
---

<section class="h-screen flex items-center" id="hero">
  <section
    class="inline-flex flex-col justify-center gap-3 xl:w-7/12"
    id="hero"
  >
    <h2
      class="font-extrabold text-slate-300 text-4xl md:text-5xl lg:text-6xl"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      Stivens Carrasquel
    </h2>
    <h3
      class="font-extrabold text-slate-400 text-4xl md:text-5xl lg:text-6xl"
      data-aos="fade-up"
      data-aos-delay="300"
    >
      Software Developer
    </h3>
    <p
      class="text-base text-slate-400 lg:w-8/12"
      data-aos="fade-up"
      data-aos-delay="400"
    >
      I’m a web developer specializing in building exceptional digital
      experiences. Currently, I’m focused on building accessible, human-centered
      products at Upstatement.
    </p>
  </section>
  <section
    class="relative hidden max-w-[40%] lg:flex lg:items-center lg:justify-center lg:flex-1"
  >
    <Code />
  </section>
</section>
<script>
  import AOS from "aos"
  import "aos/dist/aos.css"

  setTimeout(() => AOS.init({ duration: 350 }), 2000)
</script>
