---
import Title from "./ui/Title"
import Github from "./icons/Github"
import RevealContainer from "./RevealContainer"
import { userRepositories } from "../services/querys"
import ProjectCard from "./ProjectCard.astro"

const headers = {
  "Content-Type": "application/json",
  Authorization: "Bearer " + import.meta.env.GITHUB_TOKEN,
}

const repositories = await fetch("https://api.github.com/graphql", {
  method: "POST",
  headers,
  body: JSON.stringify({ query: userRepositories }),
})
  .then((res) => {
    if (!res.ok) {
      console.log("Error: " + res.status)
      throw new Error()
    }
    return res.json()
  })
  .then((jsonResponse) => jsonResponse.data.viewer.repositories.nodes)
  .then((repos) =>
    repos.map((repo) => ({
      ...repo,
      name: repo.name.replace(/[-_]/g, " "),
    })),
  )
  .catch((err) => {
    console.log(err)
    return []
  })
---

<RevealContainer id="projects" client:only>
  <Title prevMark="03.">Some Things I’ve Built</Title>
  <ul class="repo-list">
    {
      repositories.map(({ languages, name, description, url }) => (
        <li>
          <ProjectCard
            languages={languages}
            url={url}
            description={description}
            name={name}
          />
        </li>
      ))
    }
  </ul>
</RevealContainer>
<style>
  .repo-list {
    list-style: none;
    padding: 0px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
    width: 100%;
  }
</style>
