---
import Navigation from "../components/navigation/Navigation.astro"
import Loader from "../components/ui/Loader"

export interface Props {
  title: string
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stivens Carrasquel - Software Developer</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
  </head>

  <body
    class="bg-slate-900 leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900"
  >
    <Loader client:only />
    <div
      class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0 lg:flex lg:justify-between lg:gap-4"
    >
      <Navigation />

      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Geist", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar,
  .scroll::-webkit-scrollbar {
    display: none;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
</style>
